.skill{
    /* border: 1px solid rebeccapurple; */
    /* height: 500px; */
    padding-top: 60px;
    padding-bottom: 20px;
    /* margin-top: 5px; */
    margin-top: -10px;
    /* background-color: #EF4444; */
    
}

.shadow{
    background-color: whitesmoke;
    cursor: pointer;
   
}
.shadow:hover{
    width: 82%;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(25,0,0,1));}
.text{
     font-size: 20px;
     font-weight: bold;
     text-align: center;
     color: black;
     font-style: italic;
}
